@{
  ViewData["Title"] = "Restart Success";
}

<div>
  <h4>Restart Success</h4>
  <hr />
  <div>
    <nobr>
      <button type="button" class="btn btn-primary" onclick="history.go(-2); history.deleteAll(); return false;">
        <i class="fas fa-arrow-left"></i> Back
      </button>
    </nobr>
  </div>

</div>
