<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ICSP.Control.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ICSPControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ICSP.Control.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="ICSPControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  
  <userSettings>
    <ICSP.Control.Properties.Settings>
      <setting name="AmxHost" serializeAs="String">
        <value>172.16.16.101</value>
      </setting>
      <setting name="AmxPort" serializeAs="String">
        <value>1319</value>
      </setting>
      <setting name="AmxUserName" serializeAs="String">
        <value />
      </setting>
      <setting name="AmxPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoConnect" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PhysicalDeviceNumber" serializeAs="String">
        <value>15000</value>
      </setting>
      <setting name="PhysicalDevicePortCount" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="PhysicalDeviceAutoCreate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PhysicalDeviceVersion" serializeAs="String">
        <value>v2.00.00</value>
      </setting>
      <setting name="PhysicalDeviceName" serializeAs="String">
        <value>ICSP Window</value>
      </setting>
      <setting name="PhysicalDeviceManufacturer" serializeAs="String">
        <value>ICSP Manufacturer</value>
      </setting>
      <setting name="PhysicalDeviceSerialNumber" serializeAs="String">
        <value>0000000000000000</value>
      </setting>
      <setting name="PhysicalDeviceManufactureId" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PhysicalDeviceDeviceId" serializeAs="String">
        <value>517</value>
      </setting>
      <setting name="PhysicalDeviceDeviceType" serializeAs="String">
        <value>G5 MT-1002</value>
      </setting>
      <setting name="PhysicalDeviceUseCustomDeviceId" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PhysicalDeviceCustomDeviceId" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PhysicalDeviceFirmwareId" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="LastSendText" serializeAs="String">
        <value />
      </setting>
      <setting name="FileTransferPanelDirectory" serializeAs="String">
        <value>./Panel</value>
      </setting>
      <setting name="FileTransferCreateJson" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FileTransferFileNameJson" serializeAs="String">
        <value>project.json</value>
      </setting>
      <setting name="FileTransferCreateJs" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FileTransferFileNameJs" serializeAs="String">
        <value>project.js</value>
      </setting>
      <setting name="FileTransferVariableNameJs" serializeAs="String">
        <value>Proj</value>
      </setting>
    </ICSP.Control.Properties.Settings>
    <ICSPControl.Properties.Settings>
      <setting name="AmxHost" serializeAs="String">
        <value>172.16.16.101</value>
      </setting>
      <setting name="AmxPort" serializeAs="String">
        <value>1319</value>
      </setting>
      <setting name="AutoConnect" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PhysicalDeviceNumber" serializeAs="String">
        <value>15000</value>
      </setting>
      <setting name="PhysicalDevicePortCount" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="PhysicalDeviceAutoCreate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PhysicalDeviceVersion" serializeAs="String">
        <value>v1.00.00</value>
      </setting>
      <setting name="PhysicalDeviceName" serializeAs="String">
        <value>ICSP Window</value>
      </setting>
      <setting name="PhysicalDeviceManufacturer" serializeAs="String">
        <value>ICSP Manufacturer</value>
      </setting>
      <setting name="PhysicalDeviceSerialNumber" serializeAs="String">
        <value>0000000000000000</value>
      </setting>
      <setting name="PhysicalDeviceManufactureId" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PhysicalDeviceDeviceId" serializeAs="String">
        <value>517</value>
      </setting>
      <setting name="PhysicalDeviceDeviceType" serializeAs="String">
        <value>G5 MT-1002</value>
      </setting>
      <setting name="PhysicalDeviceUseCustomDeviceId" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PhysicalDeviceCustomDeviceId" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PhysicalDeviceFirmwareId" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="LastSendText" serializeAs="String">
        <value />
      </setting>
      <setting name="FileTransferPanelDirectory" serializeAs="String">
        <value>./Panel</value>
      </setting>
      <setting name="FileTransferFileNameJs" serializeAs="String">
        <value>project.js</value>
      </setting>
      <setting name="FileTransferVariableNameJs" serializeAs="String">
        <value>Proj</value>
      </setting>
      <setting name="FileTransferCreateJs" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FileTransferCreateJson" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FileTransferFileNameJson" serializeAs="String">
        <value>project.json</value>
      </setting>
    </ICSPControl.Properties.Settings>
  </userSettings>
  
  <applicationSettings>
    <ICSP.Control.Properties.Settings>
      <setting name="LogLevel" serializeAs="String">
        <value>Verbose</value>
      </setting>
    </ICSP.Control.Properties.Settings>
    <ICSPControl.Properties.Settings>
      <setting name="LogLevel" serializeAs="String">
        <value>Debug</value>
      </setting>
    </ICSPControl.Properties.Settings>
  </applicationSettings>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="WeifenLuo.WinFormsUI.Docking" publicKeyToken="5cded1a1a0a7b481" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-3.0.6.0" newVersion="3.0.6.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>
