@model ICSP.WebProxy.Models.DeviceConfiguration

@{
  ViewData["Title"] = "Configuration";
}
<h2>Configuration ...</h2>
<ul>
  <li>Paneltype: @Model.PanelType</li>
  <li>Portcount: @Model.PortCount</li>
  <li>DeviceName: @Model.DeviceName</li>
</ul>
