@{
  ViewData["Title"] = "Status" + @ViewData["StatusCode"];
}

<div class="wrap_container">
  <div class="wrap_container_inner">
    <div id="header" />
    <div class="container-bg">
      <div class="container">
        <div class="main">
          <h1>Status @ViewData["StatusCode"]</h1>
          <div class="panel_grey">
            <div class="top">
              <h3>Oh Snap! No more device connections available on controller</h3>
            </div>
            <img src="~/error_404_V04.pixar.jpg" height="500">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
